.comfort {
    padding-top: 50px;
    padding-bottom: 65px;
    overflow: hidden;

    &__wrapper {
        position: relative;
        padding-bottom: 140px;
        padding-top: 144px;
    }

    &__content {
        max-width: 560px;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 34px;
    }

    &__subtitle {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 18px;
        line-height: 144%;
    }

    &__text {
        max-width: 490px;
    }

    &__img {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        right: -75px;
    }
}
