.design-categories {
    padding-top: 60px;
    padding-bottom: 120px;

    &__title {
        margin-top: 0;
        margin-bottom: 82px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin: 0;
        width: 33.333%;
        border-top: 1px solid #E9E9E9;
        border-right: 1px solid #E9E9E9;
        a {
            padding: 40px 15px;
            justify-content: center;
            display: flex;
        }


        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            border-top: none;
            a {
                padding-top: 5px;
            }
        }

        &:nth-child(3n) {
            border-right: none;
        }

        &:nth-child(3n + 1) {
            padding-left: 22px;
            a {
                justify-content: flex-start;
            }
        }
    }

    &__item-inner {
        text-align: center;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        margin-bottom: 25px;
        img {
            display: flex;
            height: 140px;
        }
    }

    &__name {
        text-align: center;
        font-size: 18px;
        max-width: 260px;
        font-weight: 400;
    }
}