.footer {
    padding-left: 224px;
    &__inner {
        padding-top: 64px;
        padding-bottom: 24px;
        border-top: 1px solid #BFC3C8;
    }

    &__company {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 12px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 36px;
        margin-left: -37px;
        margin-right: -37px;
        overflow: hidden;
    }

    &__col {
        min-width: 140px;
        max-width: 390px;
        margin-left: 37px;
        margin-right: 37px;
    }

    &__text {
        font-size: 14px;
        line-height: 170%;
    }

    &__text--mob {
        display: none;
    }

    &__key {
        margin-bottom: 8px;
    }

    &__value {
        font-weight: 500;
        font-size: 18px;
        line-height: 133%;
    }

    &__socials {
        display: flex;
        align-items: center;
        margin: 0 -18px;
        padding-left: 3px;
        overflow: hidden;
        li {
            margin: 0 18px;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
    }

    &__policy-link {
        text-decoration: underline;
    }
}