.lead {
    padding-bottom: 50px;
    overflow: hidden;

    &__inner {
        padding-top: 114px;
        padding-bottom: 124px;
        margin-top: 0;
    }

    &__title {
        margin-top: 0;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        margin-bottom: 55px;
    }

    &__form-row {
        display: flex;
        flex-wrap: wrap;
        margin: -16px;
        overflow: hidden;
    }

    &__form-item {
        display: flex;
        margin: 16px;
        flex: 1 1 auto;
        width: calc(33.333% - 32px);
        &:last-child {
            width: calc(25% - 32px);
        }
    }

    &__input {
        margin: 0;
    }

    &__btn {
        width: 100%;
    }

    &__privacy {
        margin-top: 20px;
        a {
            text-decoration: underline;
        }
    }
}
